# Files and folders of OS
.DS_Store
Thumbs.db

# Files of editors
.idea
*.sublime*
.vscode

# Additional files
*.log*
node_modules/

# Rule for cancelling indexing of changes
public/bundle.js
public/bundle.js.map
template/dist